<div class="news-item show">
  <h1><%= item.title %></h1>
  <small class="item-published_at"><%= I18n.l(item.published_at) %></small>
  <p class="item-body"><%= item.body(:as => :html).html_safe %></p>
  <hr />
</div>

